*
    box-sizing: border-box

.container
    width: 100%
    margin: auto
.button
    cursor: pointer
    border: none
    background: none
    padding: 0
ul
    list-style: none

.body
    &-wrapper
        padding-left: 30px
        margin-top: 60px
        display: flex
.videos
    &-wrapper
        width: 100%
        display: grid
        grid-template-rows: 280px 363px
        grid-gap: 50px

.video
    &-dscWrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 13px
        color: #C2C2C2
        margin-top: 4px
        &__description
            margin: 0
    &__name
        display: block
        font-size: 16px
        margin-top: 10px
    &__channelName
        color: #C2C2C2
        text-decoration: none
        &:hover
            color: #808080

.arrows
    display: flex
    width: 66px
    justify-content: space-between
    margin-right: 150px
    &__left
        cursor: pointer
    &__right
        cursor: pointer