*
    box-sizing: border-box

.container
    width: 100%
    margin: auto
.button
    cursor: pointer
    border: none
    background: none
    padding: 0
ul
    list-style: none

.body
    &-wrapper
        padding-left: 30px
        margin-top: 60px
        display: flex
