* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.container {
  width: 100%;
  margin: auto;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.body-wrapper {
  padding-left: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-wrapper_channel {
  padding-left: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 280px 363px;
      grid-template-rows: 280px 363px;
  grid-gap: 50px;
}

.video-dscWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #C2C2C2;
  margin-top: 4px;
}

.video-dscWrapper__description {
  margin: 0;
}

.video__name {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.video__channelName {
  color: #C2C2C2;
  text-decoration: none;
}

.video__channelName:hover {
  color: #808080;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66px;
}

.arrows__left {
  cursor: pointer;
}

.arrows__right {
  cursor: pointer;
}

.subscribe__button {
  width: 154px;
  height: 40px;
  padding: 10px 20px;
  background: #FF0000;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.subscribe__button:hover {
  background: #ff3333;
}

@media (max-width: 768px) {
  .body-wrapper {
    min-width: 320px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
  }
  .body-wrapper_channel {
    min-width: 320px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
  }
}

.navbar {
  min-width: 320px;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.navbar-logoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logoblock__menu {
  margin-right: 28px;
}

.navbar-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-settings-wrapper {
  min-width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 45px;
}

.navbar-settings__search {
  display: none;
}

.navbar__notify {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__counter {
  position: absolute;
  font-size: 12px;
  color: #fff;
  left: 9px;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF0000;
  border-radius: 18px;
  height: 18px;
  width: 18px;
}

.navbar-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.navbar-search__icon {
  position: absolute;
  top: 13px;
  right: 45px;
}

.search {
  width: 830px;
  height: 44px;
  border-radius: 22px;
  border-width: 0;
  padding: 12px 23px;
  font-size: 16px;
  line-height: 20;
  background-color: rgba(235, 235, 235, 0.5);
  outline: none;
  cursor: text;
}

.search:focus {
  border: 1px solid #000;
}

@media (max-width: 1400px) {
  .search {
    max-width: 440px;
  }
}

@media (max-width: 1200px) {
  .navbar-settings-wrapper {
    margin-right: 20px;
  }
  .search {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 16px 12px;
  }
  .navbar-settings-wrapper {
    display: none;
  }
  .navbar-settings__search {
    display: block;
    margin-right: 24px;
  }
  .navbar-logoblock {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-logoblock__menu {
    display: none;
  }
  .navbar-search__icon {
    display: none;
  }
  .search {
    display: none;
  }
}

.menu {
  margin-right: 66px;
}

.menu-wrapper {
  width: 160px;
  padding: 0;
  margin: 0;
}

.menu-wrapper__item {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.menu-wrapper_data {
  margin-bottom: 60px;
}

.menu-wrapper__subscriptions {
  margin-top: 58px;
}

.menu-wrapper__settings {
  margin-top: 100px;
  margin-bottom: 40px;
}

.menu-mobile {
  display: none;
}

.item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__text {
  font-size: 16px;
  color: #898989;
  margin-left: 15px;
}

.item__text_data {
  color: #FF0000;
}

.item__title {
  font-size: 18px;
  color: #000;
}

.item__userpic {
  width: 26px;
  height: 26px;
}

.menu_deactive {
  display: none;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 61px;
    background: #fff;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 0px -3px 0px 0px #F1F1F1;
            box-shadow: 0px -3px 0px 0px #F1F1F1;
  }
  .menu-mobile-wrapper {
    text-align: center;
    margin: 11px 22px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .menu-mobile-wrapper__item {
    margin-right: 15px;
  }
  .menu-mobile-wrapper__item:last-child {
    margin-right: 0;
  }
  .item__text {
    margin: 0;
  }
}

.uservideos {
  width: 100%;
  height: 280px;
}

.uservideos-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uservideos-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uservideos-wrapper__userpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.uservideos-wrapper__username {
  font-size: 26px;
}

.uservideos-slider_wrapper {
  position: relative;
}

.uservideos__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.uservideos-sliderblock {
  width: 250px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.uservideos-sliderblock__video {
  border-radius: 14px;
  width: 250px;
  height: 150px;
}

.uservideos-video__duration {
  position: absolute;
  right: 10px;
  top: 116px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.uservideos-mobile {
  display: none;
}

@media (max-width: 768px) {
  .uservideos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .uservideos-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .uservideos-sliderblock {
    margin: auto;
    margin-bottom: 10px;
    width: 288px;
  }
  .uservideos-sliderblock__video {
    width: 288px;
  }
}

.recommended {
  width: 100%;
}

.recommended-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommended-wrapper__username {
  font-size: 26px;
}

.recommended-slider_wrapper {
  position: relative;
}

.recommended__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.recommended-sliderblock {
  width: 540px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.recommended-sliderblock__video {
  border-radius: 14px;
  height: 250px;
  width: 540px;
}

.recommended-video__duration {
  position: absolute;
  right: 10px;
  top: 216px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

@media (max-width: 768px) {
  .recommended {
    display: none;
  }
}

.recommended-you {
  width: 100%;
  height: 280px;
}

.recommended-you-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended-you-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommended-you-wrapper__userpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.recommended-you-wrapper__username {
  font-size: 26px;
}

.recommended-you-wrapper__subtitle {
  font-size: 16px;
  color: #C2C2C2;
  margin-left: 19px;
}

.recommended-you-slider_wrapper {
  position: relative;
}

.recommended-you__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.recommended-you-sliderblock {
  width: 250px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.recommended-you-sliderblock__video {
  border-radius: 14px;
  width: 250px;
  height: 150px;
}

.recommended-you-video__duration {
  position: absolute;
  right: 10px;
  top: 116px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.recommended-you__button {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .recommended-you {
    display: none;
  }
}

.channel {
  min-width: 320px;
}

.channel-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.channel-wrapper-container {
  margin: 0;
  width: 95%;
  height: auto;
  margin-right: 70px;
  min-width: 1211px;
}

.channel-banner {
  width: 100%;
}

.channel-banner__img {
  border-radius: 14px;
}

.channel-banner_adaptive {
  width: 100%;
  height: auto;
}

.channel-info {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.channel-info__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-user__name {
  font-size: 26px;
}

.channel-user__subtitle {
  font-size: 13px;
  color: #C2C2C2;
  margin-top: 2px;
}

.channel-user__icon {
  margin-right: 14px;
}

.channel-user-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.channel-hero {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 83px;
}

.channel-hero-recommended {
  width: 188px;
}

.channel-hero-recommended-user__name {
  margin-left: 20px;
}

.channel-hero-recommended-user__icon {
  width: 50px;
  height: 50px;
}

.channel-hero-recommended__title {
  font-size: 16px;
  color: #C2C2C2;
}

.channel-hero-recommended-wrapper {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.channel-hero-recommended-wrapper__user {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-hero-recommended-wrapper__user:last-child {
  margin-bottom: 0;
}

.channel-hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.channel-hero-video-container {
  cursor: pointer;
  width: 540px;
  height: 250px;
  position: relative;
}

.channel-hero-video__img {
  border-radius: 14px;
}

.channel-hero-video__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 548px;
  margin: 0;
  margin-left: 32px;
  margin-top: 17px;
}

.channel-hero-video__title {
  font-size: 26px;
}

.channel-hero-video__description {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.channel-hero-header {
  margin-bottom: 59px;
  font-size: 18px;
}

.channel-hero-header__mobile {
  display: none;
  min-width: 272px;
}

.channel-hero-header__item {
  margin-right: 69px;
  margin-top: 10px;
}

.channel-hero-header__item:last-child {
  margin-right: 0;
}

.channel-hero-header__item:hover {
  cursor: pointer;
}

.channel-hero-header__item_hover {
  color: red;
  position: relative;
}

.channel-hero-header__item_hover::after {
  content: '';
  left: 0;
  bottom: -3px;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  width: 100%;
  background: red;
}

.channel-dscWrapper_size {
  font-size: 16px;
}

.channel-subscribe__button {
  margin-left: 20px;
}

.channel-recommended {
  margin-top: 61px;
  width: 100%;
  height: 280px;
}

.channel-recommended-mobile {
  display: none;
}

.channel-recommended-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.channel-recommended-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-recommended-wrapper__userpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.channel-recommended-wrapper__username {
  font-size: 26px;
}

.channel-recommended-wrapper__subtitle {
  font-size: 16px;
  color: #C2C2C2;
  margin-left: 19px;
}

.channel-recommended-slider_wrapper {
  position: relative;
}

.channel-recommended__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.channel-recommended-sliderblock {
  width: 250px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.channel-recommended-sliderblock__video {
  border-radius: 14px;
  width: 250px;
  height: 150px;
}

.channel-recommended-video__duration {
  position: absolute;
  right: 10px;
  top: 116px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.channel-recommended-video__button {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .channel-wrapper-container {
    min-width: 320px;
  }
  .channel-hero {
    margin-right: 50px;
  }
  .channel-hero-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .channel-hero-video__text {
    margin-left: 0;
  }
  .channel-hero-recommended {
    margin-top: 82px;
  }
  .channel-wrapper-container {
    margin: auto;
  }
  .channel-banner {
    width: 100%;
  }
  .channel-banner_adaptive {
    width: 98%;
  }
  .channel-info {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .channel-hero-recommended {
    display: none;
  }
  .channel-hero-video {
    display: none;
  }
  .channel-hero-header {
    display: none;
  }
  .channel-hero-header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 90px;
  }
  .channel-hero-header__item {
    margin-right: 40px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .channel-hero-header__item_disable {
    display: none;
  }
  .channel-hero-header__droparrow {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .channel-recommended {
    display: none;
  }
  .channel-recommended-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .channel-recommended-sliderblock {
    margin-left: 0;
    margin-top: 16px;
  }
  .channel-banner__img {
    display: none;
  }
  .channel-wrapper-container {
    width: 100%;
    position: relative;
  }
  .channel-wrapper-container::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background: url(../img/channel/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .channel-info {
    position: relative;
    bottom: -70px;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 16px;
  }
  .channel-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .channel-user__icon img {
    width: 70px;
    height: 70px;
  }
  .channel-user__name {
    font-size: 20px;
  }
  .channel-button__notify {
    display: none;
  }
  .channel-subscribe__button {
    margin-left: 0;
    margin-top: 10px;
  }
  .channel-container {
    margin-left: 16px;
  }
}

.videoplayer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  margin-right: 70px;
  min-width: 320px;
}

.videoplayer_mobile {
  display: none;
}

.videoplayer-container {
  margin-left: 50px;
  margin-right: 40px;
  width: 1363px;
}

.videoplayer-container_flex {
  width: auto;
}

.videoplayer-video {
  margin-bottom: 20px;
  max-width: 1363px;
  width: 100%;
}

.videoplayer-video__video {
  border-radius: 14px;
}

.videoplayer-video__title {
  display: block;
  font-size: 36px;
  margin-bottom: 14px;
}

.videoplayer-video__arrow {
  display: none;
}

.videoplayer-video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.videoplayer-video__views {
  font-size: 20px;
  color: #C2C2C2;
}

.videoplayer-video__item {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #EBEBEB;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoplayer-video__item:hover {
  background-color: #dedede;
}

.videoplayer-video_margin {
  margin-right: 10px;
}

.videoplayer-video_margin:last-child {
  margin-left: 30px;
}

.videoplayer-video__emotions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoplayer-video__emotions_mobile {
  display: none;
}

.videoplayer-video__emotions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoplayer-video__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoplayer-video__description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoplayer-video-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.videoplayer-video-text__channelname {
  font-size: 26px;
}

.videoplayer-video-text__subtitle {
  font-size: 13px;
  color: #C2C2C2;
  margin-top: 4px;
  margin-bottom: 14px;
}

.videoplayer-video-text__subtitle_mobile {
  display: none;
}

.videoplayer-video-text__describe {
  max-width: 820px;
  font-size: 16px;
  opacity: .6;
  margin-bottom: 15px;
}

.videoplayer-video-text__showmore {
  font-size: 20px;
  color: #C2C2C2;
}

.videoplayer-video__channelpic {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.videoplayer-recommended__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoplayer-recommended__title {
  font-size: 36px;
}

.videoplayer-recommended-videos {
  overflow: scroll;
  width: auto;
  height: 1036px;
}

.videoplayer-recommended-videos::-webkit-scrollbar {
  display: none;
}

.videoplayer-recommended-videos__wrapper {
  width: 367px;
  margin-top: 25px;
  position: relative;
  margin-bottom: 23px;
  display: block;
}

.videoplayer-recommended-videos__video {
  width: 367px;
  height: 213px;
  border-radius: 14px;
}

.videoplayer-recommended-videos__duration {
  position: absolute;
  right: 10px;
  top: 179px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.videoplayer-recommended-video__name {
  display: block;
  font-size: 26px;
  margin-top: 13px;
  margin-bottom: 11px;
}

.videoplayer-recommended-video__views {
  font-size: 18px;
}

.videoplayer-recommended-video__channelName {
  font-size: 18px;
  color: #C2C2C2;
}

.videoplayer__line {
  border: none;
  height: 1px;
  background: rgba(216, 216, 216, 0.5);
}

.videoplayer__line_mobile {
  display: none;
}

.videoplayer-autoplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoplayer-autoplay__title {
  font-size: 16px;
  margin-right: 11px;
}

.videoplayer-subscribe__button_mobile {
  display: none;
}

.videoplayer-subscribe__button_mobile:hover {
  height: 30px;
  background: #FF0000;
  border-radius: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.video__like {
  width: 14px;
  height: 13px;
}

.video__dislike {
  width: 14px;
  height: 13px;
}

.video__counter {
  font-size: 16px;
}

.video__counter_margin {
  margin-left: 8px;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.emotions-slider {
  min-width: 320px;
}

@media (max-width: 1200px) {
  .videoplayer {
    margin: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .videoplayer-container {
    min-width: 288px;
    width: auto;
  }
  .videoplayer-video__title {
    margin-bottom: 4px;
    margin-top: 13px;
  }
  .videoplayer-video-text__describe, .videoplayer-video-text__subtitle, .videoplayer-video-text__showmore {
    display: none;
  }
  .videoplayer-video-text__subtitle_mobile {
    display: block;
    font-size: 12px;
    color: #C2C2C2;
    margin-top: 4px;
  }
  .videoplayer-video__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .videoplayer-video__views {
    margin-bottom: 20px;
  }
  .videoplayer-video__channelpic {
    width: 50px;
    height: 50px;
  }
  .videoplayer-video__channelpic img {
    width: 50px;
    height: 50px;
  }
  .videoplayer-video__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .videoplayer-recommended {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .videoplayer-recommended__text {
    min-width: 288px;
  }
  .videoplayer-recommended__title {
    font-size: 26px;
  }
  .videoplayer-recommended-video__name {
    font-size: 16px;
  }
  .videoplayer-recommended-videos__wrapper {
    width: 288px;
  }
  .videoplayer-recommended-videos__video {
    width: 288px;
    height: 150px;
  }
  .videoplayer-recommended-videos__duration {
    right: 10px;
    top: 116px;
  }
  .videoplayer-subscribe__button {
    display: none;
  }
  .videoplayer-subscribe__button_mobile {
    display: block;
    font-size: 16px;
    color: red;
    width: 73px;
  }
}

@media (max-width: 768px) {
  .videoplayer::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, 0);
  }
  .videoplayer-video {
    display: none;
  }
  .videoplayer-video__title {
    font-size: 20px;
    max-width: 210px;
  }
  .videoplayer-video__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .videoplayer-video__arrow {
    display: block;
  }
  .videoplayer-video__views {
    font-size: 12px;
  }
  .videoplayer-video-text__channelname {
    font-size: 16px;
  }
  .videoplayer-video_mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 180px;
  }
  .videoplayer-video__emotions {
    display: none;
  }
  .videoplayer-video__emotions_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    width: 288px;
  }
  .videoplayer-video__emotions_mobile::-webkit-scrollbar {
    display: none;
  }
  .videoplayer-recommended__title {
    font-size: 20px;
  }
  .videoplayer-autoplay__title {
    font-size: 10px;
  }
  .videoplayer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .videoplayer__line_mobile {
    display: block;
  }
  .thumb-wrap iframe {
    height: 180px;
  }
}

.toggle {
  height: 28px;
  width: 44px;
  border-radius: 14px;
  display: inline-block;
  position: relative;
  margin: 0;
  background: rgba(235, 235, 235, 0.3);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: red;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
}

.toggle:checked:after {
  -webkit-transform: translatex(16px);
          transform: translatex(16px);
  background: #2196F3;
}

@media (max-width: 768px) {
  .toggle {
    width: 30px;
    height: 19px;
    border-radius: 9px;
  }
  .toggle:after {
    top: 1.36px;
    left: 1.36px;
    width: 16px;
    height: 16px;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
  }
  .toggle:checked:after {
    -webkit-transform: translatex(11px);
            transform: translatex(11px);
  }
}
/*# sourceMappingURL=style.css.map */