* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

ul {
  list-style: none;
}

.body-wrapper {
  padding-left: 30px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 280px 363px;
      grid-template-rows: 280px 363px;
  grid-gap: 50px;
}

.video-dscWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #C2C2C2;
  margin-top: 4px;
}

.video-dscWrapper__description {
  margin: 0;
}

.video__name {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.video__channelName {
  color: #C2C2C2;
  text-decoration: none;
}

.video__channelName:hover {
  color: #808080;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66px;
}

.arrows__left {
  cursor: pointer;
}

.arrows__right {
  cursor: pointer;
}

.subscribe__button {
  width: 154px;
  height: 40px;
  padding: 10px 20px;
  background: #FF0000;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.subscribe__button:hover {
  background: #ff3333;
}

@media (max-width: 768px) {
  .body-wrapper {
    min-width: 320px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
  }
}

.navbar {
  min-width: 320px;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.navbar-logoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logoblock__menu {
  margin-right: 28px;
}

.navbar-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-settings-wrapper {
  min-width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 45px;
}

.navbar-settings__search {
  display: none;
}

.navbar__notify {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__counter {
  position: absolute;
  font-size: 12px;
  color: #fff;
  left: 9px;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF0000;
  border-radius: 18px;
  height: 18px;
  width: 18px;
}

.navbar-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.navbar-search__icon {
  position: absolute;
  top: 13px;
  right: 18px;
}

.search {
  width: 830px;
  height: 44px;
  border-radius: 22px;
  border-width: 0;
  padding: 12px 23px;
  font-size: 16px;
  line-height: 20;
  background-color: rgba(235, 235, 235, 0.5);
  outline: none;
  cursor: text;
}

.search:focus {
  border: 1px solid #000;
}

@media (max-width: 1400px) {
  .search {
    max-width: 440px;
  }
}

@media (max-width: 1200px) {
  .navbar-settings-wrapper {
    margin-right: 20px;
  }
  .search {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 16px 12px;
  }
  .navbar-settings-wrapper {
    display: none;
  }
  .navbar-settings__search {
    display: block;
    margin-right: 24px;
  }
  .navbar-logoblock {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-logoblock__menu {
    display: none;
  }
  .navbar-search__icon {
    display: none;
  }
  .search {
    display: none;
  }
}

.menu {
  margin-right: 75px;
}

.menu-wrapper {
  width: 160px;
  padding: 0;
  margin: 0;
}

.menu-wrapper__item {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.menu-wrapper_data {
  margin-bottom: 60px;
}

.menu-wrapper__subscriptions {
  margin-top: 58px;
}

.menu-wrapper__settings {
  margin-top: 100px;
  margin-bottom: 40px;
}

.menu-mobile {
  display: none;
}

.item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__text {
  font-size: 16px;
  color: #898989;
  margin-left: 15px;
}

.item__text_data {
  color: #FF0000;
}

.item__title {
  font-size: 18px;
  color: #000;
}

.item__userpic {
  width: 26px;
  height: 26px;
}

.menu_deactive {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 61px;
    background: #fff;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 0px -3px 0px 0px #F1F1F1;
            box-shadow: 0px -3px 0px 0px #F1F1F1;
  }
  .menu-mobile-wrapper {
    text-align: center;
    margin: 11px 22px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .menu-mobile-wrapper__item {
    margin-right: 15px;
  }
  .menu-mobile-wrapper__item:last-child {
    margin-right: 0;
  }
  .item__text {
    margin: 0;
  }
}

.uservideos {
  width: 100%;
  height: 280px;
}

.uservideos-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uservideos-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uservideos-wrapper__userpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.uservideos-wrapper__username {
  font-size: 26px;
}

.uservideos-slider_wrapper {
  position: relative;
}

.uservideos__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.uservideos-sliderblock {
  width: 250px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.uservideos-sliderblock__video {
  border-radius: 14px;
  width: 250px;
  height: 150px;
}

.uservideos-video__duration {
  position: absolute;
  right: 10px;
  top: 116px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.uservideos-mobile {
  display: none;
}

@media (max-width: 768px) {
  .uservideos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .uservideos-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .uservideos-sliderblock {
    margin: auto;
    margin-bottom: 10px;
    width: 288px;
  }
  .uservideos-sliderblock__video {
    width: 288px;
  }
}

.recommended {
  width: 100%;
}

.recommended-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommended-wrapper__username {
  font-size: 26px;
}

.recommended-slider_wrapper {
  position: relative;
}

.recommended__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.recommended-sliderblock {
  width: 540px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.recommended-sliderblock__video {
  border-radius: 14px;
  height: 250px;
  width: 540px;
}

.recommended-video__duration {
  position: absolute;
  right: 10px;
  top: 216px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

@media (max-width: 768px) {
  .recommended {
    display: none;
  }
}

.recommendedForYou {
  width: 100%;
  height: 280px;
}

.recommendedForYou-wrapper__title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendedForYou-wrapper__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommendedForYou-wrapper__userpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.recommendedForYou-wrapper__username {
  font-size: 26px;
}

.recommendedForYou-wrapper__subtitle {
  font-size: 16px;
  color: #C2C2C2;
  margin-left: 19px;
}

.recommendedForYou-slider_wrapper {
  position: relative;
}

.recommendedForYou__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.recommendedForYou-sliderblock {
  width: 250px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.recommendedForYou-sliderblock__video {
  border-radius: 14px;
  width: 250px;
  height: 150px;
}

.recommendedForYou-video__duration {
  position: absolute;
  right: 10px;
  top: 116px;
  color: #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
}

.recommendedForYou__button {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .recommendedForYou {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */